/*=====================================
            RESET
======================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Vazirmatn",sans-serif;

    direction:rtl;

    background:#090B10;

    color:#fff;

    overflow-x:hidden;

}

img{

    display:block;

    max-width:100%;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

/*=====================================
        Container
======================================*/

.container{

    width:94%;

    max-width:1450px;

    margin:auto;

}

/*=====================================
            Header
======================================*/

.header{

    position:sticky;

    top:0;

    width:100%;

    z-index:9999;

    background:rgba(9,11,16,.90);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.05);

}

.header .container{

    height:64px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

/*=====================================
            Logo
======================================*/

.logo{

    display:flex;

    align-items:center;

}

.logo img{

    height: 40px;

    width:auto;

}

/*=====================================
            Menu
======================================*/
/*==============================
        NAV BUTTONS
==============================*/

.nav-links{

    display:flex;

    align-items:center;

    gap:8px;

}

.nav-btn{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    position:relative;

    overflow:hidden;

    padding:12px 18px;

    background:transparent;

    border:none;

    border-radius:10px;

    color:#D7DCE3;

    font-family:"Vazirmatn",sans-serif;

    font-size:14px;

    font-weight:500;

    transition:.45s ease;

    cursor:pointer;

    z-index:1;

}

/* خط پایین */

.nav-btn::before{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:0;

    height:2px;

    background:#00E676;

    transition:.35s ease;

}

/* پس زمینه */

.nav-btn::after{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:100%;

    height:0;

    background:#00E676;

    border-radius:10px;

    transition:.35s ease;

    z-index:-1;

}

.nav-btn:hover{

    color:#090B10;

    transition-delay:.35s;

}

.nav-btn:hover::before{

    width:100%;

}

.nav-btn:hover::after{

    height:100%;

}

.nav-btn:hover{

    box-shadow:

        0 0 12px rgba(0,230,118,.30),

        0 0 24px rgba(0,230,118,.15);

}


/*=====================================
        Right Buttons
======================================*/


/* Search */

.icon-btn{

    width:38px;

    height:38px;

    border:none;

    border-radius:9px;

    background:#131821;

    color:#fff;

    cursor:pointer;

    transition:.25s;

}

.icon-btn:hover{

    background:#00E676;

    color:#000;

}

/* User */

.user-btn{

    height:38px;

    padding:0 14px;

    display:flex;

    align-items:center;

    gap:10px;

    background:#131821;

    border:1px solid #222A35;

    border-radius:9px;

    color:#fff;

    cursor:pointer;

    transition:.25s;

}

.user-btn:hover{

    border-color:#00E676;

}

.user-btn img{

    width:28px;

    height:28px;

    border-radius:50%;

    object-fit:cover;

}

.user-btn span{

    font-size:14px;

    font-weight:500;

}

.user-btn i{

    font-size:11px;

    opacity:.7;

}

/*=====================================
        Hamburger
======================================*/

.menu-btn{

    display:none;

    width:38px;

    height:38px;

    border:none;

    border-radius:9px;

    background:#131821;

    color:#fff;

    cursor:pointer;

    transition:.25s;

}

.menu-btn:hover{

    background:#00E676;

    color:#000;

}

/*=====================================
        Responsive
======================================*/

@media(max-width:1100px){

.nav-links{

display:none;

}

.user-btn span{

display:none;

}

.user-btn{

padding:0;

width:38px;

justify-content:center;

}

.user-btn i{

display:none;

}

.logo img{

height:36px;

}

.menu-btn{

display:flex;

align-items:center;

justify-content:center;

}

}

@media(max-width:768px){

.header .container{

height:60px;

}

.logo img{

height:34px;

}

.icon-btn,

.user-btn,

.menu-btn{

width:36px;

height:36px;

}

.actions{

gap:8px;

}

}

@media(max-width:480px){

.container{

width:96%;

}

.logo img{

height:30px;

}

.nav-links{

display:none;

}

}

/*==============================
        USER MENU
==============================*/

.user-menu{

    position:relative;

}

.user-btn{

    height:38px;

    padding:0 14px;

    display:flex;

    align-items:center;

    gap:10px;

    background:#131821;

    border:1px solid #242C38;

    border-radius:10px;

    color:#fff;

    cursor:pointer;

    transition:.25s;

}

.user-btn:hover{

    border-color:#00E676;

}

.user-btn img{

    width:28px;

    height:28px;

    border-radius:50%;

    object-fit:cover;

}

.user-btn span{

    font-size:14px;

}

.user-btn i{

    font-size:11px;

    opacity:.7;

}

/*==============================
        DROPDOWN
==============================*/
.actions{
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-profile{
    width:38px;
    height:38px;
    cursor:pointer;
}

.user-profile img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
    display:block;
    transition:.3s;
}

.user-profile img:hover{
    transform:scale(1.05);
    border:2px solid #00E676;
}

/* =============================================================================================================== */

/*=========================
    Mobile Menu
=========================*/

.mobile-menu{

    position:fixed;

    top:64px;

    right:-300px;

    width:260px;

    height:calc(100vh - 64px);

    background:#11151C;

    border-left:1px solid #1E2430;

    transition:.35s ease;

    z-index:999;

    padding:20px;

}

.mobile-menu.active{

    right:0;

}

.mobile-menu ul{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.mobile-menu a{

    color:#fff;

    font-size:15px;

    transition:.25s;

}

.mobile-menu a:hover{

    color:#00E676;

}

@media(min-width:1101px){

.mobile-menu{

display:none;

}

}

/* ================================بددنه ========================================= */
/* ================================
        HERO SECTION
================================ */

.hero {
    direction: rtl;
    background:
        radial-gradient(circle at top right, rgba(0,255,140,.12), transparent 35%),
        linear-gradient(135deg,#03070b,#071015);
    padding: 90px 0 70px;
    overflow: hidden;
    position: relative;
}


.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}


.hero-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

}



/* ================================
        IMAGE
================================ */

.hero-image {

    width: 50%;
    order: 2;
    position: relative;

}


.hero-banner {

    width: 100%;
    display: block;
    border-radius: 25px;

    filter:
    drop-shadow(0 0 40px rgba(0,255,130,.18));

}


/* افکت نور سبز پشت تصویر */

.hero-image::after {

    content:"";
    position:absolute;
    width:350px;
    height:350px;

    background:#00ff88;
    opacity:.12;
    filter:blur(100px);

    top:20%;
    left:20%;

    z-index:-1;

}




/* ================================
        CONTENT
================================ */


.hero-content {

    width:50%;
    text-align:right;
    order:1;

}



/* باکس سبز بالای عنوان */

.hero-badge {

    display:inline-flex;

    align-items:center;

    background:

    linear-gradient(
    135deg,
    #00c878,
    #007f4b
    );

    color:#fff;

    padding:10px 22px;

    border-radius:50px;

    font-size:15px;

    font-weight:600;

    margin-bottom:25px;

    box-shadow:

    0 0 25px rgba(0,255,130,.25);

}



/* خط کوچک کنار باکس */

.hero-badge::before {

    content:"";

    width:8px;
    height:8px;

    background:white;

    border-radius:50%;

    margin-left:10px;

}




.hero h1 {

    color:#fff;

    font-size:55px;

    line-height:1.45;

    font-weight:800;

    margin:0 0 25px;

}



.hero h1 span {

    color:#00e879;

}



.hero p {

    color:#aab5b2;

    font-size:18px;

    line-height:2;

    max-width:650px;

    margin-bottom:40px;

}




/* ================================
        BUTTONS
================================ */


.hero-buttons {

    display:flex;

    gap:20px;

    justify-content:flex-start;

}



.hero-buttons a {

    text-decoration:none;

    padding:15px 35px;

    border-radius:12px;

    font-size:16px;

    transition:.3s;

}




.primary-btn {

    background:#00b96b;

    color:white;

    box-shadow:

    0 10px 30px rgba(0,255,130,.2);

}



.primary-btn:hover {

    background:#00e879;

    transform:translateY(-3px);

}




.secondary-btn {

    border:1px solid rgba(255,255,255,.18);

    color:white;

    background:rgba(255,255,255,.03);

}



.secondary-btn:hover {

    border-color:#00e879;

    color:#00e879;

}




/* ================================
        MOBILE
================================ */


@media(max-width:900px){


.hero-container{

    flex-direction:column;

}


.hero-image,
.hero-content{

    width:100%;

}


.hero-content{

    text-align:center;

}


.hero-buttons{

    justify-content:center;

}


.hero h1{

    font-size:38px;

}


}